@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import "variables";

@mixin alinear_centro{
    align-self: center;
    justify-self: center;
    text-align: center;
}

header{
    text-align: center;
    background-color: $colorPrincipal;
    
    #nav_phone{
        display: none;
    }

    img{
        background-size: cover;
        position: relative;
        width:250px;
        height:250px;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor_header{
        max-width: 100%;
        padding: 0 300px 0 300px;
        .nav_header{
            display: flex;
            flex-wrap:nowrap ;
            align-items: center;
            font-size:18px;
            .header_menu_izq{
                padding:0;
                flex: 1;
                display: flex;
                flex-direction: row;
                align-content: space-between;
                justify-content: flex-start;
            }
            .header_menu_der{
                padding:0;
                flex: 1;
                display: flex;
                flex-direction: row;
                align-content: space-between;
                justify-content: flex-end;
            }
            #carrito{
                width: 30px;
                height: 30px;
            }
        }
    }


    a{
        margin-right: 20px;
        text-decoration: none;
        box-shadow: none;
        font-family: $fuentePrincipal;
        
    }

    A:link {text-decoration: none, $fuentePrincipal;}
    A:hover { color: black; font-family: $fuentePrincipal; text-decoration: none }
    A:visited {color: black;  font-family: $fuentePrincipal; text-decoration: none }
    
}