@import "fuente";

header{
    font-family: $fuentePrincipal;
    text-align: center;
    background-color: rgba(230, 214, 204, 0.87);
    
    #nav_phone{
        display: none;
    }

    img{
        background-size: cover;
        position: relative;
        width: 250px;
        height: 250px;
    }

    .nav_header{
        box-shadow: none;
        text-decoration: none;
        text-align: center;
        position:relative;
        top: 12px;
        font-size: 15px;
        font-family: $fuentePrincipal;
        text-align: center;
        display: inline-block;
        margin-bottom: 20px;
    }

    a{
        margin-right: 20px;
        text-decoration: none;
        box-shadow: none;
        font-family: $fuentePrincipal;
        
    }

    A:link {text-decoration: none, $fuentePrincipal;}
    A:hover { color: black; font-family: $fuentePrincipal; text-decoration: none }
    A:visited {color: black;  font-family: $fuentePrincipal; text-decoration: none }
    
}