@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
html,body {
    margin:0;
    padding:0;
    min-height: 100vh;
}

main{
    margin-bottom: 50px;
}

header{    
    text-align: center;
    background-color: rgba(230, 214, 204, 0.87);
}


footer{
    background-color: rgba(230, 214, 204, 0.87);
}

img{
    background-size: cover;
    position: relative;
    width: 300px;
    height: 300px;
}

#nav_phone{
    display: none;
}

.nav_header{
    text-align: center;
    position:relative;top: 12px;
    width: 100%;
    height: 100%;    
    background-color: rgba(230, 214, 204, 0.87);
    font-size: 15px;
    font-family: 'PT Serif', serif;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}


a{
    margin-right: 20px;
    text-decoration: none;
}

.div_envios_contenedor {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "a b" ;
    background-size: cover;
    font-size: 12px;
    font-family: 'PT Serif', serif;
}

.div_envios{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    margin-top: 100px;
    align-self: flex-start;
}



.div_hechoCalidadSustentable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;  
    margin-top: 100px; 

}

.article_hechoCalidadSustentable { 
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    background-color: rgba(230, 214, 204, 0.87);
    background-size: cover;
    font-size: 13px;
    font-family: 'PT Serif', serif;   
}

.mobile_hechoCalidadSustentable{
    display: none;
    font-size: 13px;
    font-family: 'PT Serif', serif;   
}

.div_lineas_contenedor{
    display: inline-block;
    width: 100%;
    text-align: center; 
    margin-top: 50px;
}

.animate__animated.animate__pulse{ 
    animation-duration: 5s;
}

.div_polaroid{
    display: inline-block;
    justify-items: stretch;
    margin: 5%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_pol{
 max-width: 300px ;
 max-height: 300px ;
}

.contenedor_footer{
    padding-top: 50px;
    display: block;
}

.contenedor_redes_footer{
    display: grid;
    grid-template-columns: 15fr 15fr 15fr;
    grid-template-rows: 15fr 15fr;
    grid-template-areas:
    "a b c"
    "d d d";
}

.newsletter_footer{
    grid-area: a;
    font-size: 14px;
    font-family: 'PT Serif', serif;
    align-self: center;
    justify-self: center;
    text-align: center;
}

#news{
    text-align: center;
}

.sitios_footer{
    grid-area: b;
    font-size: 14px;
    font-family: 'PT Serif', serif;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.contacto_footer{
    grid-area: c;
    font-size: 14px;
    font-family: 'PT Serif', serif;
    background-size: cover;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.pie_navegador_footer{
    grid-area: d;
    flex-grow: 1;
    font-size: 15px;
    font-family: 'PT Serif', serif;
    text-align: center;
    position:relative;;
    padding-top: 50px;
}

ul{
    list-style:none;
    padding: 0;
}
    
.img_p{
    background-size: cover;
    position: relative;
    width: 20px;
    height: 20px;  
}

.redes_p{
    display: inline-block;
    background-color: rgba(230, 214, 204, 0.87);
    font-size: 14px;
    font-family: serif; 
}

.div_main_somos{
    display: inline-block;
    justify-items:auto;
    text-align: center;
    font-size: 16px;
    font-family: 'PT Serif', serif;
    position:relative;top: 12px;  
    
}

.div_central_somos{
    margin:0 10% 0 10%;
}

.div_interior_somos{
    display:inline-block;
    text-align: center;
    position:relative;  
    max-height: 100%;
}

.article_somos{
    display: grid;
    justify-items:center;
    align-items: start;
    max-width: 100%;
    max-height: 800px;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 0.5fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}
.div_img_somos{
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.img_somos{
    object-fit: cover;
    display: inline-block;
    background-size: cover;
    position: relative;
    height: 50%;
    width: 50%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
} 

.article_p_somos{
    display: inline-block;
    position:relative;
    background-color: rgba(230, 214, 204, 0.87);
    max-width: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.titulo_productos{
    display: inline-block;
    font-size: 10px;
    font-family: 'Times New Roman';
    text-align: center;
    margin-right: 10px;
    color: #8a8586;

}

.div_productos{
    display: inline-block;
    justify-items:auto;
    text-align: center;
    font-size: 16px;
    font-family: 'PT Serif', serif;
    position:relative;top: 12px;  
}



.section_f{
    display: flex;
    flex-direction:row;
    justify-content: right;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;   
}

.formulario{
 display: inline-block;
 margin-right: 20px;
}

.div_img{
    display: grid;
    justify-items:center;
    align-items: start;
    max-width: 100%;
    grid-template-columns: 15fr 15fr;
    grid-template-rows: 15fr 15fr;
    grid-template-areas: 0.5fr;
    grid-column-gap: 10px ;
    grid-row-gap: 10px;  
}

.productos{
    width: 30%;
    height: auto;
    margin-bottom: .5em;
    transition: all 0.5s ease;  
}

.div_central_productos{
    display: flex;
    max-width: 100%;
}

.div_categorias{
    display: inline-block;
    max-width: 20%;
    margin-left: 30px;
}    

.div_img_productos{
    display: inline-block;
}

.div_form{
    display: inline-block;
    justify-items:auto;
    text-align: center;
    font-size: 16px;
    font-family: 'PT Serif', serif;
    position:relative;top: 12px;  
    
}

.form_contacto{
    display: flex; 
}

.primer_div_contacto{
    margin-top: 200px;
    margin-bottom: 200px;
}

.general_div_contacto{
    display: grid;
    justify-items: center;
    align-items: start;
    max-width: 100%;
    grid-template-columns: 15fr 15fr;
    grid-template-areas: 0.5fr;
    grid-column-gap: 10px ;
    grid-row-gap: 10px; 
    max-height: 50%;

}

.agrupo_redes_contacto{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas:
        ". a a ."
        ". a a ."
        ". b b ."
        ". b b .";
}

.div_contacto{
    grid-area: a;
    align-self: center;
    justify-self: center;
    text-align: center;
    position:relative;   
    font-size: 14px;
    font-family: 'PT Serif', serif;  
}

.div_redes{
    grid-area: b;
    align-self: center;
    justify-self: center;
    text-align: center;
    position:relative;    
    font-size: 14px;
    font-family: 'PT Serif', serif;
}

.form-label{
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
}

.form_control{
    
    height: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#mensaje_li{
    margin: 0;
    max-width: 100%;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 4px;
    box-sizing: content-box;
      
}

.titulo_preguntas{
    font-size: 20px;
    margin-left: 30px;
    
}

.acordionEnvios{
    padding-left: 40px;
}

.p_beneficios{
    margin-left: 30px;  
}

#div_preguntas_frecuentes{
    margin-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
}

.titulo_preguntas_frecuentes{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width:480px) {

    .body{
        display: grid;
        grid-template-columns: repeat 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }

    .nav_header{
        display:none;
    }

    #nav_phone{
        display: contents;
    }
    
    .container-fluid{
        padding-top: 5px;
    }

    .header{
        flex-direction: column;
        justify-content: center;
    }

    .div_envios_contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-template-areas:
        " a "
        " b ";
    }

    .div_envios{
        display: grid;
        justify-self: center;
    }

    .div_hechoCalidadSustentable{
        text-align: left; 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-template-areas:
        " a "
        " b "
        " c ";
    }

    .article_hechoCalidadSustentable{
        display: none;
        
    }

    .mobile_hechoCalidadSustentable{
        background-color: rgba(230, 214, 204, 0.87);
        background-blend-mode: color-burn;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 3fr;
        grid-gap: 5px;
        grid-template-areas:
        ". . b ." 
        "a . c c"
        ". . c c";
    }

    #hcs{
        grid-area: a;
        width: 30px;
        height: 30px;

    }

    #h2hcs{
        grid-area: b;
        margin-bottom: 0;
    }

    #phcs{
        grid-area: c;
    }

    .article_p{
        flex-direction: row;
        font-size: 12px;
    }

    #env1{
        grid-area: a;
    }

    #env2{
        grid-area: b;
    }

    footer{
        flex-direction: column;
        background-color: rgba(230, 214, 204, 0.87);
    }

    #idacordionEnvios{
        font-size: 8px;
    }

    .contenedor_footer{
        padding-top: 0;
    }
    
    .contenedor_redes_footer{
        display: flex;
        flex-direction: column;
        background-color: rgba(230, 214, 204, 0.87);
        
    }

    .pie_navegador_footer{
        font-size: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-self: flex-end;
    }
}